<div class="main top-main">
  <div class="top-message">
    <h2>卓フレ</h2>
    <p>Table Tennis Friends</p>
    <p>〜 Let's play table tennis with friend ! 〜</p>
    <%= link_to("卓フレとは", "/about", data: {"turbolinks" => false}, class: "btn about") %>
    <p class="or">or</p>
    <%= link_to("新規登録", "/signup", data: {"turbolinks" => false}, class: "btn signup") %>
    <%= link_to("ログイン", "/login", data: {"turbolinks" => false}, class: "btn login") %>
  </div>
</div>